/ArrayTest/nbproject/private/
/ArrayTest/build/
/ArrayMaximoMinimo/nbproject/private/
/ArrayPositivoNegativo/nbproject/private/
/ArrayValoresNyM/nbproject/private/
/ArrayValoresNyM/build/
/ArrayValoresPyQ/nbproject/private/
/ArrayRandom/nbproject/private/
/ArrayRandom/build/
